---
---
@import "defaults";

$light: #ebdec9;
$lightTrans: rgba(235, 222, 201, .4);

$dark1: rgba(95, 75, 56, 1);

$dark0: rgba(12, 11, 8, 1);
$dark0_70: rgba(12, 11, 8, .7);
$dark0Trans: rgba(12, 11, 8, 0);

$videoOverlay: linear-gradient(to top, $dark0 0%, $dark0Trans 85%, $dark0Trans 100%);

#backgroundVideo {
  position: fixed;
  pointer-events: none;
  height: 100%;
  width: 100%;
  video {
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%; 
    min-height: 110%; 
    width: auto; 
    height: auto;
    z-index: -10; 
    overflow: hidden;
    @include desktopOnly;
  }
  img {
    @include mobileOnly;
    height: 100%;
    margin: 0 auto;
  }
  &.hide {
    display: none;
  }
}

#downArrow {
  z-index: 100;
  position: fixed;
  bottom: 2%;
  height: 30px;
  width: 30px;
  background: url("../assets/downArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  margin-left: -19px;
  padding: 4px;
  opacity: .5;
  cursor: pointer;
  &:hover {
    @include duration(300ms);
    opacity: .8;
  }
  &.hide {
    @include duration(600ms);
    opacity: 0;
    pointer-events: none;
  }
  @include breakpoint(l) {
    margin-left: -24px;
    width: 48px;
    height: 48px;
    bottom: 4%;
  }
}

#sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 10;
  padding-top: 5vh;
  padding-left: 40px;
  width: 300px;
  @include transitionTiming(cubic-bezier(0.075, 0.82, 0.165, 1));
  @include duration(400ms);
  &:hover {
    .item {
      @include duration(1000ms);
      opacity: .7;
    }
  }
  .logo {
    display: block;
    width: 80%;
    height: 60px;
    margin-bottom: 20px;
    background-image: url("../assets/logo1.svg");
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
  }
  .mobileMenu {
    display: none;
    opacity: 0;
    background-image: url("../assets/hamburger.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    left: 15px;
    top: 10px;
    position: absolute;
    @include breakpoint(s) {
      display: block;
    }
  }
  .item {
    display: block;
    cursor: pointer;
    padding: 15px 0 5px;
    margin-top: 10px;
    opacity: 0.4;
    @include transitionTiming(cubic-bezier(0.075, 0.82, 0.165, 1));
    @include duration(400ms);
    span {
      @include fontSize3;
      width: 100%;
      letter-spacing: 2px;
      color: $light;
      .questionsPage &, .contact & {
        color: $dark0_70;
        @include breakpoint(s) {
          color: $light;
        }
      }
    }
    &:hover {
      @include duration(100ms);
      @include transitionTiming(cubic-bezier(0.19, 1, 0.22, 1));
      opacity: 1;
    }
  }
  &.shrink {
    width: 200px;
    padding-top: 2vh;
    @include duration(400ms);
    @include transitionTiming(cubic-bezier(0.55, 0.055, 0.675, 0.19));
    .logo {
      opacity: .5;
      @include duration(400ms);
      @include transitionTiming(cubic-bezier(0.55, 0.055, 0.675, 0.19));
    }
    .item {
      &:hover {
        opacity: 1;
      }
    }
  }
  @include breakpoint(s) {
    width: 100%;
    padding-left: 15px;
    padding-top: 110px;
    .logo {
      margin: 0;
      left: 24px;
      top: 5vh;
      position: absolute;
      width: 70%;
    }
    &.shrink {
      padding-top: 48px;
      width: 100%;
      background-color: $dark0_70;
      @include animate(background-color, 4000ms);
      height: 48px;
      overflow: hidden;
      .logo {
        left: 60px;
        top: 10px;
        opacity: 1;
        height: 28px;
      }
      .item {
        opacity: 0;
      }
      .mobileMenu {
        opacity: 1;
        @include duration(800ms);
      }
      &.expanded {
        height: 280px;
        background-color: $dark0;
        .item {
          opacity: 1;
        }
      }
    }
  }
}

.button, button {
  display: block;
  cursor: pointer;
  @include fontSize1;
  min-width: 100px;
  width: 160px;
  background: $light;
  color: $dark0;
  text-align: center;
  padding: 8px;
  border-radius: 2px;
  letter-spacing: 2px;
}

// Main page content scrolling section
.overlay {
  overflow-y: hidden;
  height: auto;
  width: 100%;
  z-index: 1;
  .videoGrade, #colorChange1, #colorChange2 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .videoGrade {
    background-color: $dark1;
    // mix-blend-mode: multiply;
    opacity: .35;
  }
  #colorChange1 {
    opacity: 0;
    background: $dark0_70;
  }
  #colorChange2 {
    opacity: 0;
    background: $dark0;
  }
  .container {
    position: relative;
    z-index: 9;
    color: $light;
    @include fontSize3;
    margin-top: 110vh;
    #text {
      opacity: 0;
      border-left: 1px solid $lightTrans;
      position: relative;
      pointer-events: none;
      margin: 0 auto;
      padding: 0 50px;
      max-width: 600px;
      margin-bottom: 100px;
      p {
        margin-bottom: 200px;
        opacity: 0;
        &.show {
          transition-duration: 1500ms;
          opacity: 1;
        }
      }
      &.show {
        animation-duration: 1500ms;
        opacity: 1;
      }
      @include breakpoint(s) {
        padding: 0 15px;
        border: none;
        p {
          margin-bottom: 120px;
        }
      }
    }
  }
  div#films {
    position: relative;
    z-index: 20;
    margin: 0px auto 40px;
    color: $light;
    width: 900px;
    max-width: calc(100% - 400px);
    @include breakpoint(s) {
      max-width: none;
    }
    .text {
      position: relative;
      z-index: 10;
      margin: 0 auto;
      max-width: 600px;
    }
    h1 {
      @include fontSize5;
      font-weight: 500;
      margin: 0;
    }
    p {
      @include fontSize2;
    }
   .film {
      margin-bottom: 200px;
      overflow: hidden;
      .filmHeader {
        position: relative;
        width: 100%;
        height: 400px;
        margin-bottom: -60px;
        overflow: hidden;
        opacity: 0;
        cursor: pointer;
        .play {
          background: url("../assets/play.svg");
          background-size: contain;
          position: absolute;
          width: 60px;
          height: 60px;
          left: 20px;
          top: 20px;
          opacity: 0.65;
          z-index: 2;
          // pointer-events: none;
          @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
          @include duration(200ms);
          @include breakpoint(s) {
            opacity: .75;
            left: 12px;
            top: 12px;
          }
          &:hover {
            opacity: 1 !important;
            @include duration(100ms);
          }
        }
        .preview, .filmOverlay {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .preview {
          @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
          @include duration(500ms);
          object-fit: cover;
          z-index: 1;
        }
        .filmOverlay {
          pointer-events: none;
          background: $videoOverlay;
          z-index: 2;
        }
      }
      .subtle {
        margin-top: 10px;
        color: $lightTrans;
        @include fontSize1;
      }
      .theater {
        display: none;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background: $dark0;
        iframe {
          display: block;
          width: 86vw;
          height: 86vh;
          margin: 4vh auto 0;
          @include breakpoint(s) {
            width: 100vw;
            max-height: 80vh;
            margin: 4vh auto 0;
          }
        }
        .close {
          cursor: pointer;
          position: absolute;
          bottom: 2vh;
          width: 100%;
          text-align: center;
          span {
            display: inline-block;
            color: $light;
            border-bottom: 1px solid transparent;
          }
          &:hover {
            span {border-color: $light;}
          }
        }
        &.show {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
        }
      }
      &.show {
        .filmHeader {
          @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
          @include duration(1000ms);
          opacity: 1;
        }
      }
    }
    @include breakpoint(s) {
      width: 100%;
      .film > .filmHeader {
        height: 50vh;
        margin-bottom: -100px;
      }
      .text {padding: 0 15px;}
    }
  }
}

// Contact form
.contact {
  background: whitesmoke;
  height: 100vh;
  .container {
    max-width: 600px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .formArea {
      width: 100%;
      color: $dark0_70;
      h2 {margin-bottom: 30px;}
      h4 {margin: 0; font-weight: 400;}
      form {
        width: 100%;
      }
      input, textarea {
        background: white;
        border: none;
        padding: 10px;
        border-radius: 2px;
        min-width: 400px;
        margin: 5px 0 30px;
      }
      textarea {
        width: 100%;
      }
    }
  }
}

// Forms experience
.questionsPage {
  display: flex;
  align-items: center;
  height: 100vh;
  background: whitesmoke;
  &.intro {
    #introArea {display: block;}
    #questionsArea {display: none;}
    #personalInfoArea {display: none;}
    #reviewArea {display: none;}
  }
  &.healthcareAgentReview {
    #introArea {display: none;}
    #questionsArea {display: none;}
    #personalInfoArea {display: block;}
    #reviewArea {display: none;}
  }
  &.finalReview {
    display: block;
    #introArea {display: none;}
    #questionsArea {display: none;}
    #reviewArea {display: block;}
  }
}

#introArea {
  display: none;
  .quote {
    padding: 45px;
    font-style: italic;
  }
  .button {
    margin: 20px auto;
  }
}
#introArea, #questionsArea, #personalInfoArea {
  position: relative;
  width: 640px;
  max-height: 80vh;
  height: 540px;
  margin: 0 auto;
  .step {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
    .question, .counter, .answer {
      opacity: 0; 
      pointer-events: none;
      @include transition(all 500ms);
      @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
    }
    .question {
      margin: 15px auto;
    }
    .counter {
      @include fontSize1;
      color: $dark0_70;
    }
    .answer {
      border-radius: 2px;
      background: white;
      margin: 15px auto;
      border: none;
      width: 100%;
      padding: 15px;
      max-height: 40vh;
    }
    .askFirst {
      opacity: 0;
      pointer-events: none;
      display: block;
      position: absolute;
      margin-top: 25%;
      width: 100%;
      @include transition(all 500ms);
      @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
      .askText {font-style: italic; margin-bottom: 20px;}
      .noText {opacity: 0; margin-top: -100px; pointer-events: none;}
      .yes, .no {
        padding: 20px;
        cursor: pointer;
      }
    }
    // Current question
    &.show {
      .question, .counter, .answer {
        opacity: 1; 
        pointer-events: all;
        @include transition(all 500ms);
        @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
      }
      &.showAskFirst {
        .question, .counter, .answer {
          opacity: 0; 
          pointer-events: none;
          @include transition(all 500ms);
          @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
        }
        .askFirst {
          opacity: 1;
          pointer-events: all;
          @include transition(all 500ms);
          @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
        }
        &.yesClicked, &.noClicked {
          .askText, .yes, .no {
            opacity: 0;
            pointer-events: none;
            @include transition(all 500ms);
            @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
          } 
        }
        &.noClicked {
          .noText {
            opacity: 1;
            @include transition(all 500ms);
            @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
          }
        }
      }
    }
  }
  #formsButtons {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    display: block;
    width: 640px;
    .button {
      display: block;
      position: absolute;
      &.next {
        right: 0;
      }
      &.disabled {
        pointer-events: none;
        opacity: .6;
      }
    }
  }
  @include breakpoint(s) {
    width: 100%;
    max-height: none;
    height: 85vh;
    align-self: flex-end;
    .step {
      padding: 0 10px;
      width: 100%;
      .question {@include fontSize3; margin: 10px auto 0;}
    }
    #formsButtons {
      width: 100%;
      bottom: 40px;
      .button {
        max-width: 40%;
        &.prev {left: 10px;}
        &.next {right: 10px;}
      }
    }
  }
}
#reviewArea {
  width: 800px;
  margin: 0 auto;
  padding: 10vh 0 80px;
  display: none;
  .reviewStep {
    position: relative;
    margin: 50px 0;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    .number, .content {
      display: inline-block;
      vertical-align: text-top;
    }
    .number {
      position: absolute;
    }
    .content {
      margin-left: 40px;
      width: calc(100% - 40px);
      cursor: pointer;
      .reviewQ {
        margin: 0;
      }
      .reviewA {
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
      .edit {
        margin: 10px auto 0;
        text-align: center;
        opacity: 0;
        color: $dark1;
      }
    }
    .finish {
      margin: 20px auto;
      width: auto;
      position: initial;
      float: none;
      display: none;
      &.visible {
        display: block;
      }
    }
    &.skipped {
      .content {opacity: .6;}
      .reviewQ {font-style: italic;}
    }
    &:hover {
      border-color: $light;
      .edit {
        opacity: 1;
        @include transition(all 500ms);
        @include transitionTiming(cubic-bezier(0.215, 0.610, 0.355, 1));
      }
    }
  }
  .finishText {
    text-align: center;
  }
  .finish {
    width: auto;
    margin: 40px auto;
  }
}
#personalInfoArea {
  display: none;
  label, button {margin-top: 20px; display: block;}
  input {
    display: block;
    outline: none;
    background: white;
    border-radius: 2px;
    border: none;
    width: 100%;
    padding: 10px;
  }
  .finish {
    width: auto;
    margin: 40px auto;
  }
}