---
---

$light: rgb(235, 222, 201);
$lightTrans: rgba(235, 222, 201, .4);
$dark1: rgba(95, 75, 56, 1);
$dark1Trans: rgba(95, 75, 56, 1);
$dark0: rgba(12, 11, 8, 1);
$dark0_70: rgba(12, 11, 8, .7);
$dark0Trans: rgba(12, 11, 8, 0);
$containerBackground: linear-gradient(to bottom, $dark1Trans 0%, $dark1 60%, $dark1 100%);
$videoOverlay: linear-gradient(to top, $dark0 0%, $dark0Trans 85%, $dark0Trans 100%);


html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "ltc-kennerley";
  font-family: "garamond-premier-pro";
}

p {
  line-height: 1.6;
  // font-weight: 100;
  font-size: 24px;
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  video {
    overflow: hidden;
    min-height: 112%;
    max-width: 120%;
    margin-top: -4%;
  }
}

#downArrow {
  z-index: 100;
  position: fixed;
  bottom: 2%;
  height: 30px;
  width: 30px;
  background: url("../assets/downArrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  margin-left: -19px;
  padding: 4px;
  opacity: .5;
  cursor: pointer;
  &:hover {
    transition-duration: 300ms;
    opacity: .8;
  }
  &.hide {
    transition-duration: 600ms;
    opacity: 0;
    pointer-events: none;
  }
}

#sidebar {
  z-index: 10;
  position: fixed;
  width: 300px;
  height: 100%;
  top: 5vh;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 400ms;
  &:hover {
    .item>span {
      opacity: .75;
    }
  }
  .logo {
    // border-bottom: 2px solid $light;
    span {
      display: block;
      width: 180px;
      height: 60px;
      margin-left: 40px;
      margin-bottom: 25px;
      background-image: url("../assets/logo1.svg");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
    }
  }
  .item {
    padding: 15px 0 5px;
    margin-top: 10px;
    &:hover {
      span {
        cursor: pointer;
        transition-duration: 0ms;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        opacity: 1;
      }
    }
    span {
      padding-left: 40px;
      display: inline-block;
      width: 80px;
      letter-spacing: 1px;
      font-size: 18px;
      color: $light;
      opacity: 0.35;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-duration: 400ms;
    }
  }
  &.shrink {
    top: 2vh;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    .logo > span {
      width: 120px;
      opacity: .5;
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    &:hover {
      .item>span {
        opacity: .5;
      }
    }
    .item > span {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.overlay {
  overflow-y: hidden;
  height: auto;
  width: 100%;
  z-index: 1;
  .videoGrade, #colorChange1, #colorChange2 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .videoGrade {
    background-color: $dark1;
    // mix-blend-mode: multiply;
    opacity: .35;
  }
  #colorChange1 {
    opacity: 0;
    background: $dark0_70;
  }
  #colorChange2 {
    opacity: 0;
    background: $dark0;
  }
  .container {
    z-index: 9;
    color: $light;
    font-size: 21px;
    position: relative;
    margin-top: 110vh;
    #text {
      opacity: 0;
      border-left: 1px solid $lightTrans;
      position: relative;
      pointer-events: none;
      margin: 0 auto;
      padding: 0 50px;
      width: 600px;
      margin-bottom: 100px;
      p {
        margin-bottom: 200px;
        opacity: 0;
        &.show {
          transition-duration: 1500ms;
          opacity: 1;
        }
      }
      &.show {
        animation-duration: 1500ms;
        opacity: 1;
      }
    }
  }
  div#videos {
    position: relative;
    z-index: 20;
    width: 900px;
    margin: 40px auto;
    color: $light;
    h1, p {
      position: relative;
      z-index: 10;
      padding: 0 150px;
    }
    h1 {
      font-size: 72px;
      font-weight: 500;
      margin: 0;
    }
    p {
      font-size: 18px; 
      max-width: 600px;
    }
   .film {
      margin-bottom: 200px;
      overflow: hidden;
      .filmHeader {
        position: relative;
        width: 100%;
        height: 400px;
        margin-bottom: -60px;
        overflow: hidden;
      }
      .subtle {
        color: $lightTrans;
        font-size: 16px;
      }
      .preview, .filmOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .preview {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        transition-duration: 500ms;
        object-fit: cover;
        z-index: 1;
        opacity: 0;
      }
      .filmOverlay {
        pointer-events: none;
        background: $videoOverlay;
        z-index: 2;
      }
      .image {
        background-position: center;
        background-size: cover;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: .1;
      }
      &.show {
        .image {
          transition-duration: 1000ms;
          transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
          margin-top: 0px;
          opacity: .9;
          &:hover {
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
            transition-duration: 200ms;
          }
        }
        .preview:hover {
          transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
          transition-duration: 1000ms;
          opacity: 1;
        }
      }
    }
  }
}