<div class="film" id="{{ filmId }}">
  <div class="filmHeader" onclick="updateTheater('{{ filmId }}', true)">
    <div class="play"></div>
    <div class="filmOverlay"></div>
    <video muted loop preload="auto" class="preview" id="{{ filmId }}">
      <source src="film.previewVideoUrl" type="video/mp4">
    </video>
    <div class="image" style="background-image: url('assets/{{ film.image }}')"></div>
  </div>
  <div class="text">
    <h1>{{ film.title }}</h1>
    <p>{{ film.description }}</p>
    <p class="subtle">{{ film.extra }}</p>
  </div>
  <div class="theater">
    <iframe src="{{ film.embedUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <div class="close" onclick="updateTheater('{{ filmId }}')"><span>Back</span></div>
  </div>
</div>

