<div class="film" id="{{ film.id }}">
  <div class="filmHeader">
    <div class="play"></div>
    <div class="filmOverlay"></div>
    <video muted loop class="preview" id="{{ film.id }}">
      <source src="assets/{{ film.previewVideo }}" type="video/mp4">
    </video>
    <!-- <div class="image" style="background-image: url('assets/{{ film.image }}')"></div> -->
  </div>
  <div class="text">
    <h1>{{ film.title }}</h1>
    <p>{{ film.description }}</p>
    <div class="button" onClick="{{ film.link }}" >Play Film</div>
    <p class="subtle">{{ film.extra }}</p>
  </div>
</div>

