<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ site.title }}{% if page.title %} | {{ page.title}} {% endif %}</title>

<!-- Stylesheets -->
<link rel='stylesheet' href='css/main.css' type="text/css" />
<link rel="stylesheet" href="https://use.typekit.net/yoi4njd.css">

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="scripts/index.min.js"></script>