<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
  <script src="scripts/makePDF.js"></script>
</head>
<body class="questionsPage">
  {% include sidebar.html %}
  {% include videoBackground.html %}
  <div class="background">
    <video autoplay muted loop class="smallScreen">
      <source src="assets/{{ page.backgroundVideo }}" type="video/mp4">
    </video>
    <img src="assets/{{ page.backgroundImage }}">
  </div>
  <div class="questionsArea">
    {% for question in page.questions %}
      <div class="question" id="q{{ forloop.index }}">
        <div class="counter">{{ forloop.index }} of {{ forloop.length }}</div>
        <h2 class="qname" >{{ question }}</h2>
        <textarea class="answer" id="a{{ forloop.index }}" cols="30" rows="10"></textarea>
      </div>
    {% endfor %}
    <div class="bottom">
      <button class="button prev" onclick="updateQuestionView('prev')" >{{ page.prevButtonText }}</button>
      <button class="button next" onclick="updateQuestionView('next')" >{{ page.nextButtonText }}</button>
      <div class="finishText">{{ page.finishText }}</div>
      <button class="button finish" id="download">{{ page.downloadButtonText }}</button>
    </div>
  </div>

  <!-- <textarea id="text-val" rows="4">This is the content of my file</textarea><br/>
  <input type="button" id="dwn-btn" value="Download dinamically generated text file"/> -->
</body>
</html>