<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  {% include sidebar.html %}
  {% include videoBackground.html %}
  <div id="downArrow" onclick="scrollArrow()"></div>
  <div class="overlay">
    <div class="videoGrade"></div>
    <div id="colorChange1"></div>
    <div id="colorChange2"></div>
    <div class="container">
      <div id="text">
        {% for p in page.paragraphs %}
          <p id="{{ p.id }}">{{ p.content }}</p>
        {% endfor %}
      </div>
    </div>
    <div id="videos">
      {% for film in page.films %}
        {% include film.html %}
      {% endfor %}
    </div>
  </div>
</body>
</html>